<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <header>
        <div class="container flex">
            <strong class="app-name">Expense Calculator</strong>
            <% if(!user) { %>
                <div class="header-nav">
                    <a href="/users/login"><button>Login</button></a>
                    <a href="/users/register"><button>Register</button></a>
                </div>

            <% } %> <% if(user) { %>
                <div class="header-nav">
                    <h2 class="user-name"><%= user.name %></h2>
                    <a href="/home" class="btn"><button>Home</button></a>
                    <a href="/users/logout" class="btn"><button>Logout</button></a>
                </div>
            <% } %>

        </div>
    </header>
    
</body>
</html>