<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="padding">
        <div class="container flex center">
            <h1>Add Your Expenses</h1>
        </div>
    </section>
    <section class="padding">
        <div class="container flex center">
            <form action="/expense/new" method="POST">
                <label for="source">Enter expense name</label>
                 <input type="text" placeholder="expense source" name="source">
                 <label for="category">Enter category of expense</label>
                 <input type="text" placeholder="category" name="category">
                 <label for="amount">Enter $amount expense </label>
                 <input type="number" placeholder="enter amount" name="amount">
                 <label for="date">Enter date:-</label>
                <input type="date" placeholder="enter date" name="date">
                <a href = #><button type = "submit" class="btn">Add Expense</button></a>

            </form>
        </div>
    </section>
</body>
</html>