<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<section class="padding">
  <div class="container flex">
    <h4>Expense calculator</h4>
  </div>

</section>
  </body>
</html>
