<%- include partials/header %>

  <main>
    <section class="padding">
      <div class="container flex center">
        <h1>User Login Form </h1>
      </div>
     
    </section>
    <section class="padding">
      <div class="container flex center">
        <form action="/users/login" method="POST">
         
              <label for="email">Enter Email</label>
              <input type="email" placeholder="Enter Email" name="email">
        
              <label for="password">Enter password:-</label>
              <input type="password" placeholder="Enter password" name="password">
          <a href="#"><button type="submit" class="btn ">Submit</button></a>
      </form>
      </div>
    </section>
    <section class="padding">
      <div class="flex center">
        <a href="/auth/github" class="btn btn-pri">Login using Github</a>
        <a href="/auth/google" class="btn btn-pri">Login using Google</a>
      </div>
    </section>
  </main>
</body>
</html>