<%- include partials/header %>

  <main>
    <section class="padding">
      <div class="container flex center">
        <h1>User Registeration </h1>
      </div>
     
    </section>
    
    <section class="sec-padding">
        <div class="container flex center">
          <form action="/users/register" method="POST">
                <label for="name">Enter Name:-</label>
                <input type="text" placeholder="Enter Name" name="name">
           
                <label for="email">Enter Email:-</label>
                <input type="email" placeholder="Enter Email" name="email">
            
                <label for="age">Enter Age:-</label>
                <input type="number" placeholder="Enter age" name="age">
           
                <label for="phone">Enter phone:-</label>
                <input type="number" placeholder="Enter phone" name="phone">
           
                <label for="country">Enter country:-</label>
                <input type="text" placeholder="Enter country" name="country">
     
                <label for="password">Enter password:-</label>
                <input type="password" placeholder="Enter password" name="password">
            <a href="#"><button type="submit" class="btn btn-pri">Submit</button></a>
        </form>
        </div>
      </section>
  </main>
</body>
</html>